[Unit]
After=graphical.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/totp-autobackup --run

[Install]
WantedBy=multi-user.target
